.app-container {
  .gradient {
    background-color: #000000;
    background-image: linear-gradient(to top, #008ad1 0%, #00377b 80%, #00377b 100%);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;

    .stars {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 76.7%;
      display: block;
      background: url(./../../../assets/images/stars.png) repeat-x top;
    }

    .stars-large {
      height: 3.5px;
      width: 3.5px;
      border-radius: 50%;
      background: transparent;
      box-shadow: 1955px 49px #fff, 978px 23px #fff, 1713px 30px #fff, 1454px 49px #fff, 1117px 39px #fff, 1753px 8px #fff, 1997px 12px #fff, 1876px 55px #fff, 1227px 46px #fff, 1964px 44px #fff;
      -webkit-animation: blink-large 7s infinite;
      animation: blink-large 7s infinite;
    }

    .stars-medium {
      height: 3.5px;
      width: 3.5px;
      border-radius: 50%;
      background: transparent;
      box-shadow: 1955px 49px #fff, 978px 23px #fff, 1713px 30px #fff, 1454px 49px #fff, 1117px 39px #fff, 1753px 8px #fff, 1997px 12px #fff, 1876px 55px #fff, 1227px 46px #fff, 1964px 44px #fff;
      -webkit-animation: blink-large 7s infinite;
      animation: blink-large 7s infinite;
    }
  }

  .page-content {
    position: relative;
    z-index: 3;
  }
}

@-webkit-keyframes blink-large {
  0% {
    box-shadow: 1955px 49px #fff, 978px 23px #fff, 1713px 30px #fff, 1454px 49px #fff, 1117px 39px #fff, 1753px 8px #fff, 1997px 12px #fff, 1876px 55px #fff, 1227px 46px #fff, 1964px 44px #fff;
  }
  70% {
    box-shadow: 1955px 49px #fff, 978px 23px #fff, 1713px 30px #fff, 1454px 49px #fff, 1117px 39px #fff, 1753px 8px #fff, 1997px 12px #fff, 1876px 55px #fff, 1227px 46px transparent, 1964px 44px #fff;
  }
  100% {
    box-shadow: 1955px 49px #fff, 978px 23px #fff, 1713px 30px #fff, 1454px 49px #fff, 1117px 39px #fff, 1753px 8px #fff, 1997px 12px #fff, 1876px 55px #fff, 1227px 46px #fff, 1964px 44px #fff;
  }
}

@keyframes blink-large {
  0% {
    box-shadow: 1955px 49px #fff, 978px 23px #fff, 1713px 30px #fff, 1454px 49px #fff, 1117px 39px #fff, 1753px 8px #fff, 1997px 12px #fff, 1876px 55px #fff, 1227px 46px #fff, 1964px 44px #fff;
  }
  70% {
    box-shadow: 1955px 49px #fff, 978px 23px #fff, 1713px 30px #fff, 1454px 49px #fff, 1117px 39px #fff, 1753px 8px #fff, 1997px 12px #fff, 1876px 55px #fff, 1227px 46px transparent, 1964px 44px #fff;
  }
  100% {
    box-shadow: 1955px 49px #fff, 978px 23px #fff, 1713px 30px #fff, 1454px 49px #fff, 1117px 39px #fff, 1753px 8px #fff, 1997px 12px #fff, 1876px 55px #fff, 1227px 46px #fff, 1964px 44px #fff;
  }
}

@-webkit-keyframes blink-medium {
  0% {
    box-shadow: 923px 124px #fff, 347px 176px #fff, 1649px 150px #fff, 633px 154px #fff, 1876px 128px #fff, 1548px 113px #fff, 1114px 170px #fff, 1344px 200px #fff, 1368px 199px #fff, 1984px 157px #fff, 768px 157px #fff, 558px 171px #fff, 1870px 140px #fff, 219px 125px #fff, 186px 188px #fff, 1333px 126px #fff, 656px 149px #fff, 180px 101px #fff, 1873px 129px #fff;
  }
  70% {
    box-shadow: 923px 124px #fff, 347px 176px #fff, 1649px 150px transparent, 633px 154px transparent, 1876px 128px transparent, 1548px 113px transparent, 1114px 170px transparent, 1344px 200px transparent, 1368px 199px #fff, 1984px 157px #fff, 768px 157px transparent, 558px 171px transparent, 1870px 140px transparent, 219px 125px transparent, 186px 188px transparent, 1333px 126px #fff, 656px 149px #fff, 180px 101px transparent, 1873px 129px #fff;
  }
  100% {
    box-shadow: 923px 124px #fff, 347px 176px #fff, 1649px 150px #fff, 633px 154px #fff, 1876px 128px #fff, 1548px 113px #fff, 1114px 170px #fff, 1344px 200px #fff, 1368px 199px #fff, 1984px 157px #fff, 768px 157px #fff, 558px 171px #fff, 1870px 140px #fff, 219px 125px #fff, 186px 188px #fff, 1333px 126px #fff, 656px 149px #fff, 180px 101px #fff, 1873px 129px #fff;
  }
}

@keyframes blink-medium {
  0% {
    box-shadow: 923px 124px #fff, 347px 176px #fff, 1649px 150px #fff, 633px 154px #fff, 1876px 128px #fff, 1548px 113px #fff, 1114px 170px #fff, 1344px 200px #fff, 1368px 199px #fff, 1984px 157px #fff, 768px 157px #fff, 558px 171px #fff, 1870px 140px #fff, 219px 125px #fff, 186px 188px #fff, 1333px 126px #fff, 656px 149px #fff, 180px 101px #fff, 1873px 129px #fff;
  }
  70% {
    box-shadow: 923px 124px #fff, 347px 176px #fff, 1649px 150px transparent, 633px 154px transparent, 1876px 128px transparent, 1548px 113px transparent, 1114px 170px transparent, 1344px 200px transparent, 1368px 199px #fff, 1984px 157px #fff, 768px 157px transparent, 558px 171px transparent, 1870px 140px transparent, 219px 125px transparent, 186px 188px transparent, 1333px 126px #fff, 656px 149px #fff, 180px 101px transparent, 1873px 129px #fff;
  }
  100% {
    box-shadow: 923px 124px #fff, 347px 176px #fff, 1649px 150px #fff, 633px 154px #fff, 1876px 128px #fff, 1548px 113px #fff, 1114px 170px #fff, 1344px 200px #fff, 1368px 199px #fff, 1984px 157px #fff, 768px 157px #fff, 558px 171px #fff, 1870px 140px #fff, 219px 125px #fff, 186px 188px #fff, 1333px 126px #fff, 656px 149px #fff, 180px 101px #fff, 1873px 129px #fff;
  }
}
